<a href="https://colab.research.google.com/github/AvanishKumar02/Python_Programming-CSE3011/blob/main/20-02-24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Date: **01/02/2024**

In [ ]:
print("Hello World")

Hello World

Date : **20/02/2024**

In [ ]:
n=int(input("Enter the number up to which you want to print : "))
for i in range(2,n,2):
  print(i)

Enter the number up to which you want to print : 20
2
4
6
8
10
12
14
16
18

In [ ]:
n=int(input("Enter number of rows u want to print : "))
for i in range(0,n):
  print()
  for j in range(0,i+1):
    print("*",end="")

Enter number of rows u want to print : 5

*
**
***
****
*****

In [ ]:
#while loops
i=1
while  i<=5:
  print(i)
  i=i+1

1
2
3
4
5

In [ ]:
#break Statement
list = [10, 20, 30, 40, 50, 60, 70]
count=1
for i in list:
  if i == 80:
    print("item matched")
    print("fount at ",count," location")
    break
  else:
    count = count+1
else:
  print("item not found")

item not found

In [ ]:
#continue statement
for i in range(1,8):
  if i<6:
    print("Skip")
    continue
print(i)

Skip
Skip
Skip
Skip
Skip
7

In [ ]:
#Continue statement
li = ['a', 'e', 'i', 'o', 'u']
for i in li:
  if(i == 'a'):
    continue
  else:
    print(i)
  print('hello')

e
hello
i
hello
o
hello
u
hello

In [ ]:
#pass statement
li = ['a', 'e', 'i', 'o', 'u']
for i in li:
  if(i == 'a'):
    pass
  else:
    print(i)
  print('hello')

hello
e
hello
i
hello
o
hello
u
hello